<settings>
  <profiles>
    <profile>
      <id>jobA</id>
      <activation>
        <property><name>runJob</name><value>A</value></property>
      </activation>
      <properties>
        <execute.job>A</execute.job>
      </properties>
      <!-- configure plugins or repos for job A -->
    </profile>
    <profile>
      <id>jobB</id>
      <activation>
        <property><name>runJob</name><value>B</value></name>
      </activation>
      <properties>
        <execute.job>B</execute.job>
      </properties>
      <!-- config for job B -->
    </profile>
  </profiles>
  <activeProfiles>
    <!-- could preactivate one profile -->
  </activeProfiles>
</settings>
